<div class="game-controls">
  <div data-test="gameButton">
    <fa-icon [icon]="rock.icon"
             class="game-button"
             (click)="selection(rock)"></fa-icon>
  </div>
  <div data-test="gameButton">
    <fa-icon [icon]="paper.icon"
             class="game-button"
             (click)="selection(paper)"></fa-icon>
  </div>
  <div data-test="gameButton">
    <fa-icon [icon]="scissors.icon"
             class="game-button"
             (click)="selection(scissors)"></fa-icon>
  </div>
</div>
